<h1>Listing Work Logs</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_logs.each do |work_log| %>
      <tr>
        <td><%= work_log.type %></td>
        <td><%= work_log.start_time %></td>
        <td><%= work_log.end_time %></td>
        <td><%= link_to 'Show', work_log %></td>
        <td><%= link_to 'Edit', edit_work_log_path(work_log) %></td>
        <td><%= link_to 'Destroy', work_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work log', new_work_log_path %>

<p>
<%= link_to 'Go to tasks', tasks_path %>
</p>

<p>
<%= link_to 'Go to courses', courses_path %>
</p>
