<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>
    
<p>
  <strong><%= link_to 'View tasks', tasks_path(:course_id => @course.id) %></strong>
</p>


<p>
  <strong><%= link_to 'Add a task', new_task_path(:course_id => @course.id)%></strong>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
